body{
    max-height: 100vh;
}
.board{
    background-color: hsl(219, 77%, 14%);
    min-height: 97vh;
    display: flex;
    border: double hsl(0, 0%, 100%) 3px;
}
.case{
    margin: auto;
    width: 30px;
    height: 30px;
    background-color: hsl(93, 62%, 29%);
    display: inline-block;
    line-height: 0;
}

.fruit{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(228, 181, 53);
}